<% @title = @language.title %>

<p>
  <strong>Title:</strong>
  <%=h @language.title %>
</p>

<p>
  <%= link_to "Edit", edit_admin_language_path(@language) %> |
  <%= link_to "Destroy", admin_language_path(@language), :confirm => 'Are you sure?', :method => :delete %>
</p>
