
/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */

.urbangreymenu{
	width: 15%; /*width of menu*/
	float: left;
	margin: 0px 2px 40px 0px;
}

.urbangreymenu .headerbar{
	font: bold 1.0em Verdana;
	color: white;
	background: #606060 url(/images/admin/arrowstop.gif) no-repeat 8px 6px; /*last 2 values are the x and y coordinates of bullet image*/
	margin-bottom: 0; /*bottom spacing between header and rest of content*/
	text-transform: uppercase;
	padding: 7px 0 7px 28px; /*31px is left indentation of header text*/
}

.urbangreymenu ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 0; /*bottom spacing between each UL and rest of content*/
}

.urbangreymenu ul li{
	padding-bottom: 2px; /*bottom spacing between menu items*/
	font-size: 1.1em;
	color: #333;
}

.urbangreymenu ul li a{
	color: #333;
	background: #E9E9E9;
	display: block;
	padding: 5px 0;
	line-height: 17px;
	padding-left: 8px; /*link text is indented 8px*/
	text-decoration: none;
}

.urbangreymenu ul li a:visited{
	color: black;
}

.urbangreymenu ul li a:hover{ /*hover state CSS*/
	color: white;
	background: #999;
	font-weight: bold;
}
