/* Errors */

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
	border-color: red;
}

.fieldWithErrors input, 
.fieldWithErrors select, 
.fieldWithErrors textarea {
	border-color: red;
}

.error  { 
	background: #FBE3E4; 
	color: #8a1f11; 
	border-color: #FBC2C4; 
}

#errorExplanation {
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  background-color: #FBE3E4;
}

#errorExplanation h2 {
  text-align: left;
  padding: 5px 0px 5px 5px;
  font-size: 1.2em;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 0 0 0 5px;
	font-size: 1.1em;
}

#errorExplanation ul {
  margin: 4px 0 4px 4px;
}

#errorExplanation ul li {
  font-size: 1.1em;
  list-style: disc;
	color: #222;
}