.segment {
  margin: 0 0 15px 0;
  padding: 0 0 15px 0;

}
.segment_prop {
  color: #666;
  font-size: 12px;
}
.segments a {
  color: #333;
  text-decoration:none;
}
.segments a:hover {
  color: #222;
  text-decoration:underline;
}
.info a {
  font-size:12px;
}
.segments .seg_language {
  color:#486DAA;
}
.segment_from, 
.segment_to {
  background-color:#FFFFEA;
  border: 1px solid #ddd;
  margin: 4px 0;
  padding: 0 4px;
  min-height: 32px;
}
.segment_from {
  background-color:#FFFFF8;
}
.segment_from_id {
  /*  
  display: inline;
  clear:none;
  float: left; 
  */
  display: inline;
  clear:none;
  font-weight: bold;
}

.editable textarea {
  width: 98%;
  padding: 0;
}
.workspace_ul li a {
  text-decoration: underline;
}
.workspace_ul li {
  margin-left: 10px;
  list-style-type: disc;
	list-style-position: inside;
}

.editable textarea {
  padding: 2px;
  width: 98%;
}

.information {
  margin-top: 20px;
  border: 1px dashed #999;
  float: left;
  padding: 15px;
  clear: both;
}
ul li {margin: 5px 10px;}
.bullet li {list-style-type: disc;}

strong {
  font-weight:bold;
}