<% title "Language" %>

<p>
  <strong>Title:</strong>
  <%=h @language.title %>
</p>

<p>
  <%= link_to "Edit", edit_language_path(@language) %> |
  <%= link_to "Destroy", @language, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", languages_path %>
</p>
