<% form_for @user, :url => account_path, :html => { :multipart => true } do |f| %>
  <%= render :partial => "form", :object => f %>
  <br clear="both"/>
  <p><%= f.submit "Update" %></p>
  <br clear="both"/>
  <%= f.error_messages %>
  <br clear="both"/>
<% end %>
