<% form_for @user, :url => account_path, :html => { :multipart => true } do |f| %>
  <%= render :partial => "form", :object => f %>
  <br clear="both"/>
  <p><%= f.submit "Update" %></p>
  <br clear="both"/>
  <%= f.error_messages %>
  <br clear="both"/>
<% end %>

<script type="text/javascript">
  // Load the profile tab when clicking on user Edit profile
  Ext.onReady(function() {
    Ext.getCmp('west-panel').items.itemAt(2).expand();
  });
</script>

