<% form_for @user, :url => account_path do |f| %>
<div id="columnarForm">
  <fieldset>
    <legend><%= @title %></legend>
    <%= render :partial => "form", :object => f %>
    <%= f.submit "Register" %>
  </fieldset>
  <%= f.error_messages %>
</div>
<% end %>