<div class="right_left">
	<h2>WHAT's NEW?</h2>
	<p><a href="#">Lorem ipsum dolor sit amet</a>, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis <a href="#">nostrud exerci tation</a>.</p>
</div>