<div class="right_right">
	<h2>Important links</h2>
	<p><a href="http://snews.solucija.com/">sNews</a> <img src="/themes/simple/images/arrow.gif" alt="" /> Single file CMS</p>
	<p><a href="http://www.solucija.com/">Solucija</a> <img src="/themes/simple/images/arrow.gif" alt="" /> Information Architecture, CSS</p>
	<p><a href="http://www.360webdesign.co.uk/">360 Web Design</a> <img src="/themes/simple/images/arrow.gif" alt="" /> Accessible Web Design</p>
</div>
