
<% title "Segments" %>

<div class="segments">
  <%= render @segments %>
</div>

<br />

<p>
  <%= link_to image_tag("admin/new_button.png"), new_segment_path %>
</p>
<br />
<div class="digg_pagination">
  <div clas="page_info">
    <%= page_entries_info @segments %>
  </div>
  <br />
  <%= will_paginate @segments, :container => false %>
</div>


