<% title @page.title %>
<br />
<%= @page.body %>
<br />
<p class="meta">
  <span class="date"><%= @page.updated_at.strftime("%B %d, %Y") %></span>
  <!-- <span class="posted">Posted by admin </span> -->
</p>