<div class="segments">
  <% if @document.is_csv? %>
    <%= render :partial => "/translations/translations", :locals => {:translations => @translations} %>
  <% else %>
    <%= render @segments %>
  <% end %>
</div>

<br />
<div class="digg_pagination">
  <div clas="page_info">
    <%= page_entries_info @segments %>
  </div>
  <br />
  <%= will_paginate @segments, :container => false %>
</div>
