<% title "Domain" %>

<p>
  <strong>Title:</strong>
  <%=h @category.title %>
</p>

<p>
  <strong>Description:</strong>
  <%=h @category.description %>
</p>

<br />

<p>
  <%= link_to "Edit", edit_admin_category_path(@category) %> |
  <%= link_to "Delete", admin_category_path(@category), :confirm => 'Are you sure?', :method => :delete %>
</p>
