<h3> <%= @title ||= "Editing #{@user.login}" %> </h3>

<% form_for @user, :url => { :action => "update" }, :html => { :multipart => true } do |f| %>

  <%= f.error_messages %>
  
  <%= render :partial => 'form', :locals => { :f => f, :user => @user } %>

  <%= image_submit_tag "admin/save_button.png", :class => "button" %>
  
<% end %>

