/* Custom */

html, body {
      font:normal 12px verdana;
      margin:0;
      padding:0;
      border:0 none;
      overflow:hidden;
      height:100%;
  }
  .x-panel-body p {
    margin:5px;
  }
  .x-column-layout-ct .x-panel {
    margin-bottom:5px;
  }
  .x-column-layout-ct .x-panel-dd-spacer {
    margin-bottom:5px;
  }
  .settings {
    background-image:url("/extjs/folder_wrench.png") !important;
  }
  .nav {
    background-image:url("/extjs/folder_go.png") !important;
}

.topbar {
  height: 20px;
  width:100%;
  background-image: url(/extjs/white-top-bottom.gif);
  border-color: #99BBE8;
  color: #15428B;
  font-family: tahoma, arial, verdana, sans-serif;
  font-size: 13px;
  padding-top:4px;
  padding-left:8px;
}
.topbar a {
  margin-right: 2px;
  margin-left: 2px;
}

table.userprofile-div {
  font-size: 12px;
}
table.userprofile-div tbody tr,
table.userprofile-div tbody tr td {
  padding: 3px 0;
}

table.login-div {
  font-size: 12px;
}

input.accordion_login {
  width: 96%;
  padding: 3px;
  border: 1px solid #aaa;
}
#start-div {
  float:left;
  padding: 7px;
}

table.sidebar {
  font-size: 12px;
  margin: 4px;
}
