<div id="right">
	
	<div class="subcontainer">
		<div class="rightsub">
			<h2>Most Viewed</h2>
			<ul>
				<li> <a class="link" href="#">What a nice property li...</a> </li>
				<li> <a class="link" href="#">Beautiful property near...</a> </li>
				<li> <a class="link" href="#">Best Condominium in the...</a> </li>
				<li> <a class="link" href="#">What a nice property li...</a> </li>
				<li> <a class="link" href="#">Beautiful property near...</a> </li>
			</ul>
		</div>

		<div class="rightsub2">
			<h2>Latest Contacts</h2>
			<ul>
				<li> <a class="link" href="#">I like that listing in the...</a> </li>
				<li> <a class="link" href="#">That is a nice condo, lets...</a> </li>
				<li> <a class="link" href="#">How much will it cost to...</a> </li>
				<li> <a class="link" href="#">That is a nice condo, lets...</a> </li>
				<li> <a class="link" href="#">I like that listing in the...</a> </li>
			</ul>
		</div>
	</div>

	<h2>Feature Listings</h2>
	<p class="thumbs">
		<a href="#"><img src="/images/admin/thumb1.png" width="80" height="80" alt="Thumbnail example" /></a>
		<a href="#"><img src="/images/admin/thumb1.png" width="80" height="80" alt="Thumbnail example" /></a>
		<a href="#"><img src="/images/admin/thumb1.png" width="80" height="80" alt="Thumbnail example" /></a>
		<a href="#"><img src="/images/admin/thumb1.png" width="80" height="80" alt="Thumbnail example" /></a>

	</p>

	<!--
	<div class="subcontainer">
		<div class="rightsub">
			<h2>Popular tags</h2>
			<a class="link" href="#">XHTML</a><br class="hide" />
			<a class="link" href="#">Music</a><br class="hide" />
			<a class="link" href="#">Podcast</a><br class="hide" />
			<a class="link" href="#">Photos</a><br class="hide" />
			<a class="link" href="#">CSS</a><br class="hide" />
			<a class="link" href="#">Webdesign</a><br class="hide" />

			<h2>RSS Feeds</h2>
			<a class="link" href="#">Blog entries</a><br class="hide" />
			<a class="link" href="#">Comments</a><br class="hide" />
			<a class="link" href="#">Podcasts</a><br class="hide" />
		</div>

		<div class="rightsub2">
			<h2>Latest entries</h2>
			<a class="link" href="#">With a touch fr...</a><br class="hide" />
			<a class="link" href="#">Open source</a><br class="hide" />
			<a class="link" href="#">Hello world!</a><br class="hide" />
		</div>
	</div>
	-->
</div>
